<h2>
  <%= @menu.name %>
</h2>

<p>
  <%= @menu.description %>
</p>

<form action="/owns" accept-charset="UTF-8" method="post">
  <div class="row">
    <input class="form-control mb-3" value=<%= @menu.id %> name="own[menu]" type="hidden">

    <div class="col-11">
      <select class="form-select w-100" name="own[recipe]" aria-label="Default select example" onselect="submit">
        <option selected>Add Recipes</option>
        <% @recipes.each do |recipe| %>
          <option value="<%= recipe.id %>"><%= recipe.name %></option>
        <% end %>
      </select>
    </div>

    <div class="col-1">
       <button class="btn btn-success float-end w-100" type="submit">Save</button>
    </div>
  </div>
</form>

<div class="row mt-5">
  <div class="col">
    <h2 class="float-start">
      Recipes
    </h2>

    <button class="btn btn-success btn-sm float-start w-auto ms-3 mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Generate Grocery List</button>
  </div>
</div>

<div class="mt-2 row">
  <% @owns.each do |own| %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="border border-black m-1 p-2 card-height">
        <a class="text-dark text-decoration-none" href="/recipes/<%= own.recipe.id %>">
            <h4 class="mb-1">
            <%= own.recipe.name %>
            </h4>
        </a>

        <p class="mb-0">
          <%= own.recipe.description %>
        </p>

        <%= link_to "Delete", own_path(own), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %>
      </div>
    </div>
  <% end %>
</div>

<div class="row mt-5">
  <div class="col">
    <h2 class="float-start">
      Ingredients
    </h2>

    <%= link_to 'print', 'your_link_here', :onclick => 'window.print(); return false;'%>
  </div>
</div>

<div class="mt-2">
  <ul>
    <% @owns.each do |own| %>
      <% own.recipe.need.each do |need| %>
        <li>
          <%= need.ingredient.name %> - <%= need.quantity %> <%= need.unit %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
