<h2 class="hide-on-print">
  <%= @menu.name %>
</h2>

<p class="hide-on-print">
  <%= @menu.description %>
</p>

<form class="hide-on-print" action="/owns" accept-charset="UTF-8" method="post">
  <div class="row">
    <input class="form-control mb-3" value=<%= @menu.id %> name="own[menu]" type="hidden">

    <div class="col-11">
      <select class="form-select w-100" name="own[recipe]" aria-label="Default select example" onselect="submit">
        <option selected>Add Recipes</option>
        <% @recipes.each do |recipe| %>
          <option value="<%= recipe.id %>"><%= recipe.name %></option>
        <% end %>
      </select>
    </div>

    <div class="col-1">
       <button class="btn btn-success float-end w-100" type="submit">Save</button>
    </div>
  </div>
</form>

<ul class="nav nav-pills mt-5 hide-on-print" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="recipe-tab" data-bs-toggle="tab" data-bs-target="#recipe" type="button" role="tab" aria-controls="recipe" aria-selected="true">Recipes</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Ingredients</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="recipe" role="tabpanel" aria-labelledby="recipe-tab">
    <div class="mt-2 row hide-on-print">
      <% @owns.each do |own| %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
          <div class="border border-black m-1 p-2 card-height">
            <a class="text-dark text-decoration-none" href="/recipes/<%= own.recipe.id %>">
                <h4 class="mb-1">
                <%= own.recipe.name %>
                </h4>
            </a>

            <p class="mb-0">
              <%= own.recipe.description %>
            </p>

            <%= link_to "Remove", own_path(own), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade px-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="mt-3 row overflow-hidden">
      <div class="col">
        <%= link_to 'Print Grocery List',
                    'your_link_here', 
                    class: "btn btn-success btn-xs float-start hide-on-print",
                    :onclick => 'window.print();
                    return false;'
        %>
      </div>
    </div>

    <div class="mt-4">
      <ul class="list-unstyled w-100">
        <% @owns.each do |own| %>
          <% own.recipe.need.each do |need| %>
            <li class="float-start">
              <input class="form-control mb-3 w-50 float-start" value="<%= need.ingredient.name %>" placeholder="Quantity">
              <input class="form-control mb-3 side-field float-start" value="<%= need.quantity %>" placeholder="Quantity">
              <input class="form-control mb-3 side-field float-start" value="<%= need.unit %>" placeholder="Unit">
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
