<div class="row mb-4">
  <div class="col">
    <h3 class="mt-2 float-start">Inventory</h3>

    <button class="btn btn-primary btn-sm float-start w-auto ms-3 mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add Stock</button>
  </div>
</div>

<!-- Setup drawer enabled form to keep everything in one page -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <form action="/items" accept-charset="UTF-8" method="post">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Add a Stock Item</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <select name="item[ingredient]" id="cars" class="w-100 mb-3">
        <% @ingredients.each do |ingredient| %>
          <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
        <% end %>
      </select> </br>

      <input class="form-control mb-3" type="number" name="item[quantity]" placeholder="Quantity">
      <input class="form-control mb-3" name="item[unit]" placeholder="Unit">

      <label class="me-3">Expired by: </label>
      <input type="date" value="<%=DateTime.now.strftime("%Y-%m-%d")%>" name="item[expired_by]" class="w-100"></br></br>
      
      <label class="me-3">Bought by: </label>
      <input type="date" value="<%=DateTime.now.strftime("%Y-%m-%d")%>" name="item[bought_by]" class="w-100"></br></br>
      
      <label class="me-3">Produced by: </label>
      <input type="date" value="<%=DateTime.now.strftime("%Y-%m-%d")%>" name="item[production_date]" class="w-100">
    </div>

    <div class="offcanvas-footer py-2 px-3">
      <button class="btn btn-light float-start w-auto" type="button">Cancel</button>

      <button class="btn btn-success float-end w-auto" type="submit">Save</button>
    </div>
  </form>
</div>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="border border-black m-1 p-2 card-height">
        <h5 class="mb-1">
          <%= item.ingredient.name %>
        </h5>
        <span class="mb-1">
          Batch: <%= item.ingredient.id %><%= item.id %>-<%= item.bought_by.strftime('%F') %>
        </span>

        <p class="mb-0">
          <p>Quantity: <%= item.quantity %> <%= item.unit %></p>
        </p>

        <p class="mb-0">Bought: <%= item.bought_by.strftime('%b %e, %Y') %></p>
        <p class="mb-0">
          Expired By: <%= item.expired_by.strftime('%b %e, %Y') %>
          <% if item.expired_by < DateTime.now %>
            <span class="badge bg-danger">Expired</span>

            <span class="badge bg-danger">
              <%= link_to "Dispose", item_path(item), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
              } %>
            </span>
          <% elsif item.expired_by < DateTime.now+2.week %>
            <span class="badge bg-warning">Near Expiry</span>
          <% end %>
        </p>
        <p class="mb-0">Production Date: <%= item.production_date.strftime('%b %e, %Y') %></p>
      </div>
    </div>
  <% end %>
</div>
